@media only screen and (max-width:411px) and (min-width:300px){
    .home-content{
        width: 100%;
        margin-left: .8rem;
    }
    .apple{
        height: 30px;
    }
    .google{
        height: 40px;
    }
    .d-badge{
        margin-left: 6rem;
    }
    .card-left{
        margin-left: .5rem;
    }
    .card-right{
        margin-left: .5rem;
    }
    .grid-container{
        margin-left: .5rem;
    }
    .g-img{
        margin-right: 0px;
    }
    .testy-grid{
        margin-left: 0rem;
    }
   .app-grid .appcard{
        margin-left: 3rem;
        width: 85%;
    }
    .signup-footer{
        margin-left: 0rem;
  }
  .legal-badge{
      width: 55%;
      margin-top: 20px;
  }
  .step-itemcontent{
      text-align: left;
  }
  .step-itemcontent span{
      margin-left: 1.5rem;
  }
  .step-itemcontent p{
      padding-right: 3rem;
  }
  .explanation:before{
    top: 14.89rem;
    left: 15px;
    }
    .explanations:before{
     top: 24.25rem ;
     left: 15px;
    }
    .explanationz:before{
     top: 33.8rem;
     left: 15px;
    }
    .explanationx:before{
     top: 43.2rem;
     left: 15px;
    }
}
@media only screen and (max-width:411px) and (min-width:360px){
    .explanation:before{
        top: 14.89rem;
        left: 15px;
        }
        .explanations:before{
         top: 25.3rem ;
         left: 15px;
        }
        .explanationz:before{
         top: 36rem;
         left: 15px;
        }
        .explanationx:before{
         top: 46.5rem;
         left: 15px;
        }
}

@media only screen and (max-width:411px) and (min-width:375px){
    .app-grid .appcard{
        margin-left: 2.2rem;
    }
}
@media only screen and (max-width:360px) and (min-width:320px){
    .app-grid .appcard{
        margin-left: 1.95rem;
    }
    .signup-footer{
        width: 102%;
    }
}